
/* *** general styles -----------------------------------------------------***  */
:root{
  --color-primary: #3146a5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  direction: ltr;
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  color: #0e0c34;
  font-size: 100%;
  line-height: 1.5em;
}
button {
  font-family: inherit;
}
a {
  color: #dbdae9;
  text-decoration: none;
}
a:hover {
  /* color: var(--color-primary); */
}

ul {
  list-style: none;
  padding: 0;
}

/* *** utilites ***----------------------------------------------------------  */

.btn {
  background-color: var(--color-primary);
  color: #e3e3f0;
  padding: 0.75rem 2rem;
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  /* border: none; */
  cursor: pointer;
  border-radius: 4px;
}
.btn:hover {
  background-color: #1186aa;
  color: rgb(32, 14, 73);
  /* border: 2px solid #fff ; */
}

.container {
  width: 960px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-1-2,
.col-1-3,
.col-1-4 {
  flex-grow: 1;
}

.col-1-2 {
  flex-basis: calc(100%/2);
}
.col-1-3 {
  flex-basis: calc(100%/3);
}
section {
  padding: 4.5rem 0;
}
/* header--------------------------------------------------------------- */
header{
  background-color: #3146a5;
  color: #fff;
  position: fixed;
  width: 100%;
}
header .row{
  display: flex;
  justify-content: space-between;
}
header .row ul:hover{
  color: rgb(13, 5, 31);
}
header .row li{
  display: inline-block;
  /* padding: 15px; */
}
header .row li:hover{
  background-color: #dee0ea;
  color: rgb(13, 5, 31);
}
header .row a{
  color: #eae9f5;
  font-weight: bold;
  display: inline-block;
  padding: 15px;

}
header .row a:hover{
  color: #0a072b;
}
header .row h1{
  font-weight: bold;
  padding-top: 15px;
}


/* *** Head -----------------------------------------------------------*** */
#head{
  background-color:rgb(207, 219, 219);
}
.head-img {
  width: 90%;
  margin-left: 50px;
  padding-left: 40px;
  align-self: auto;
  margin-top: 50px;
}
.head-info {
  padding-top: 5rem;
  margin-top: 50px;
}
.head-info h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  
}
.head-info .sub-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary);
}
.head-info .sub-text {
  margin: 1.5rem 0;
  color: slategray;
}
/* about---------------------------------------------------------- */

#about .row{
  display: flex;
  flex-direction: row;
}
.about-image{
  padding-right: 100px;

}
#about .row img{
  width: 100%;
}
.bout-info{
  padding-left: 100px;
}
.about-info h1{
  margin: 50px 0;
  font-size: 30px;
  font-weight: bolder;
  color: #3146a5;
  letter-spacing:1px ;

} 
.about-info p{
  color: #1186aa;
  letter-spacing:1px ;
  line-height: 1.5;
}


/* *** skills --------------------------------------------------------------*** */

#skills {
  background-image: url(background2.webp);
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  height: 600px;
  text-align: center;
  padding-bottom: 4.5rem;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.466);
}

#skills h1 {
  text-align: center;
  font-size: xx-large;
  background-color: #eae9f5;
  padding: 20px;
  width: fit-content;
  margin:  4.5rem auto ;
  border-radius: 4px;

}
#skills .col-1-3 {
  text-align: center;
  padding: 1rem;
  margin: 10px;
}

/* *** menu ***------------------------------------------------------------------  */
#projects{
  background-color: rgb(207, 219, 219);
}
#projects h2 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: xx-large;
  background-color: #3146a5;
  color: #fff;
  border-radius: 4px;
  padding: 20px;
  width: fit-content;
  margin:  4.5rem auto ;
}
.menu-projects .project {
  margin: 0.7rem;
  border: 2px solid var(--color-primary);
  border-radius: 40px;
  overflow: hidden;
  height: 25rem;
}

.menu-projects .project img {
  width: 100%;
  height: 60%;
}

.project-info {
  background-color: #fff;
  padding: 1rem 1.5rem;
  min-height: 350px;
  text-align: center;
}

.project-btn {
  background-color: var(--color-primary);
  /* border: none; */
  /* padding: 0.2rem 1rem; */
  font-size: 1rem;
  border-radius: 5rem;
  /* color: #fff; */
  cursor: pointer;
  padding: 10px 30px;
  margin-bottom: 20px;
}
.project-btn:hover{
  background-color: #d7e7ef;
  color: #0e0c34 !important;
  border: 2px solid #0b074f;

}
.project-btn:hover a {
  color: #0e0c34 !important;
}
.space-between{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

footer .footer-copy {
  background-color: #0e0c34;
  padding: 2rem;
  text-align: center;
  color: white;
}
footer .footer-copy a{
  color: white;
}


/* tablet -----------------------------------------------------------------*/

@media (min-width:500px) and (max-width:922px){
  .container{
      width: 90vw;
  }
  .col-1-4{
      flex-basis: 50%;
  }
  .head-info h1{
    line-height: 50px;
  }
  .project-info{
      width: 100%;
  }
}
/* mobile --------------------------------------------------------*/

@media (max-width:499px){
  .container{
      width: 95vw;
  }
  header {
    height: 100px;
    text-align: center;
  }
  header h1{
    margin-top: 20px;
  }
  header ul{
    display: none;
  }
  header .row{
   justify-content: center;
  }
  #head {
      text-align: center;
  }
  #head .row {
      display: flex;
      flex-direction: column;
  }
  .head-img {
    margin-left: unset;
    margin-top: 50px;
    margin-right: 100px;
  }
  .head-info h1{
    line-height: 50px;
  }
  .col-1-3{
      flex-basis: 100%;
  }
  .col-1-3 + .col-1-3 {
      margin-top: 2rem;
  }
  .col-1-4{
      flex-basis: 100%;
  }
  .project-info{
      width: 100%;
  }
  #skills {
    height: 900px;
  }
}